#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  max-width: 600px;
  width: 100%;
}

label {
  font-weight: 700;
  cursor: pointer;
}

input {
  width: 150px;
  height: 30px;
  padding: 4px;
  border: 2px solid gray;
  border-radius: 6px;
  font-size: 15px;
  font-family: 'Lato';
  line-height: 30px;
}