.query-form {
  text-align: center;
}

.wrapper-query-form {
  position: relative;
  display: flex;
  align-items: center;
  gap: 48px;
}

.wrapper-query-form.loading::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('@/assets/loading-spinner.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper-query-form.loading > * {
  filter: blur(2px);
}

.invalid-query-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  color: red;
}

.label-input-date-time {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;;
}

.btn-submit-query-form {
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .wrapper-query-form {
    flex-direction: column;
    gap: 16px;
  }
}