.wrapper-profit-calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notice-no-profit {
  margin-top: 16px;
}

table.table-summary {
  border: none;
  text-align: left;
}

table.table-summary tr > td:first-child {
  font-weight: 700;
}

table tr > td {
  white-space: nowrap;
}