.wrapper-date-time {
  display: flex;
  flex-direction: column;
}

.label-date-time {
  font-weight: 700;
  cursor: pointer;
}

.input-date-time {
  height: 30px;
  padding: 4px;
  border: 1px solid gray;
  border-radius: 6px;
}
