.wrapper-date-time {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  background-color: #fff;
  transition: background-color .3s;
  will-change: background-color;
}

.wrapper-date-time.invalid {
  background-color: #ffe0e0;
}

input.input-date-time {
  display: block;
  margin-top: 4px;
}

.invalid-date-time {
  color: red;
}